APP_ENV=dev
APP_DEBUG=1
APP_BASE_URL=http://localhost:8080
DB_HOST=mysql
DB_PORT=3306
DB_NAME=payments
DB_USER=payments
DB_PASSWORD=payments
DB_ROOT_PASSWORD=root
MESSENGER_TRANSPORT_DSN=redis://redis:6379/payments?auto_setup=true
